.span-header {
    width: 75px;
    max-width: 75px;
    display: flex;
}

.span-header-alert {
    width: 200px;
    max-width: 200px;
    display: flex;
}

.span-content {
    width: 200px;
    max-width: 200px;
    display: flex;
}


